<p>
  ng-datepicker3 works!
</p>
<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker4' #datetimepicker1>
                    <input type='text' class="form-control" [ngModel]="date" (onModelChange)="SaveDate($event)" id="date" name="date" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span>{{date}}</span>
                <div>
                    <input type='text' class="form-control" [(ngModel)]="test" id="test" name="test" />
                </div>
                <span>{{test}}</span>
            </div>
        </div>
    </div>
</div>